# Porta do servidor backend (ex: 3000)
PORT=

# Conexão com o MySQL — mysql://USUARIO:SENHA@HOST:PORTA/BANCO
# Docker: HOST = db | Local: HOST = localhost
DATABASE_URL=

# Chave secreta do JWT — use algo longo e aleatório
JWT_SECRET=