main {
    padding: 30px;

    .title-section {
        display: flex;
        align-items: center;
        justify-content: space-between;

        h2 {
            font-size: 40px;
            margin-bottom: 20px;
            font-weight: 300;
        }

        button {
            width: 200px;
            padding: 10px;
            background-color: #1e1e1e;
            border: 1px solid #1e1e1e;
            border-radius: 5px;
            color: #e9e9e9;
            font-weight: 600;
            cursor: pointer;
        }
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-bottom: 2px solid #eeeeee;
    }
    
    .view-products {
        padding-right: 30px;

        .container-form {
            border-left: 4px solid darkgoldenrod;
            background-color: #1e1e1e;
            width: 100%;
            max-width: 400px;
            padding: 40px;
            border-radius: 10px;
            margin-bottom: 40px;

            h3 {
                font-size: 30px;
                margin-bottom: 20px;
                font-weight: 300;
                color: #e5e5e5;
            }

            form {
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 20px;

                div {
                    width: inherit;

                    input {
                        width: 100%;
                        height: 35px;
                        background-color: #e9e9e9;
                        color: #223;
                        padding: 10px;
                        border-radius: 10px;
                        border: none;

                        &:focus {
                            outline: 1px solid #5c5c5c;
                        }
                    }
                }

                button {
                    width: 100%;
                    border-radius: 10px;
                    padding: 10px;
                    background-color: darkgoldenrod;
                    color: #fff;
                    border: none;
                    cursor: pointer;
                    font-weight: 600;
                    transition: all 0.3s;

                    &:hover {
                        background-color: #fff;
                        color: #1e1e1e
                    }
                }

            }
        }

        .grid-products {
            margin-top: 40px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            gap: 20px;
            border-radius: 10px;

            div {
                width: 100%;
                max-width: 300px;
                display: flex;
                flex-direction: column;
                cursor: pointer;
                background-color: #eeeeee;
                border-radius: 10px;

                img {
                    width: 100%;
                    height: 200px;
                    object-fit: cover;
                    background-position: center;
                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;
                }

                .info-product {
                    padding: 10px 20px;
                    display: flex;
                    gap: 8px;

                    h3 {
                        font-size: 20px;
                        font-weight: 600;
                    }

                    .price {
                        font-weight: 400;
                        font-size: 20px;
                    }

                    .stock {
                        color: #5c5c5c;
                        font-weight: 600;
                    }
                }

                select {
                    width: 200px;
                    height: 35px;
                    margin-left: 20px;
                    padding: 5px;
                    border-radius: 5px;
                    background-color: #1e1e1e;
                    color: #fff;
                    cursor: pointer;
                }

                .buttons {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    margin: 15px 0;
                    padding: 10px;

                    .add {
                        width: 200px;
                        padding: 10px;
                        border-radius: 10px;
                        border: 1px solid #000;
                        background-color: #000;
                        color: #e5e5e5;
                        font-weight: 600;
                        cursor: pointer;
                        transition: all 0.3s;

                        &:hover {
                            background-color: #5c5c5c;
                            border: 1px solid #5c5c5c;
                            color: #000;
                        }
                    }

                    .icon-remove {
                        padding: 10px;
                        cursor: pointer;
                        border-radius: 10px;
                        background-color: #ff5a5f;
                        border: 1px solid #ff5a5f;
                        font-size: 18px;
                        color: #e5e5e5;
                        transition: all 0.3s;

                        &:hover {
                            background-color: #5c5c5c;
                            border: 1px solid #5c5c5c;
                            color: #000;
                        }
                    }
                }
            }
        }
    }

    .car-products {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 0 40px;
        border-left: 2px solid #5c5c5c;

        .products {
            display: flex;
            flex-direction: column;
            gap: 10px;
            
            .container-product {
                width: 100%;
                border-bottom: 2px solid #eeeeee;
                
                .product-card {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    gap: 10px;
                    margin: 20px 0;
                    background-color: #f0f0f0;
                    padding: 20px;
                    border-radius: 10px;

                    img {
                        width: 100px;
                        height: 100px;
                        object-fit: cover;
                        border-radius: 10px;
                    }

                    .grid-info {
                        flex: 1;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        .info-product {
                            padding: 5px;
                            margin: 5px 0;

                            .quantity {
                                color: #5c5c5c;
                                font-weight: 600;
                            }

                        }

                        i {
                            background-color: #ff5a5f;
                            padding: 5px;
                            color: #fff;
                            border-radius: 10px;
                            cursor: pointer;
                            transition: all 0.3s;

                            &:hover {
                                background-color: inherit;
                                color: #1e1e1e;
                            }
                        }
                    }
                }

                
            }

        }

        .total-price {
            .grid-price {
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;

                span {
                    font-size: 22px;
                    font-weight: 600;
                    text-decoration: underline;
                }
            }

            button {
                width: 100%;
                padding: 10px;
                background-color: #000;
                border: 1px solid #000;
                border-radius: 10px;
                color: #fff;
                font-weight: 600;
                transition: all 0.3s;

                &:hover {
                    background-color: #5c5c5c;
                    color: #000;
                    border: 1px solid #5c5c5c;
                }
            }
        }
    }
}